body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
a{
    color: white;
text-decoration: none;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}
h1 {
    font-size: 24px;
    margin: 0;
}
h2 {
    font-size: 18px;
    margin: 0;
    color: #333;
}
h3 {
    font-size: 20px;
    margin-top: 20px;
}
ol {
    margin-left: 20px;
}
p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.vote{
    text-align:center;
}
.submit-button {
    background-color: #007BFF;
color: #fff;
border: none;
padding: 10px 20px;
cursor: pointer;
margin-top: 10px;font-size: 10px;
}
.candidateData {
    display: flex;
flex-direction: column;

justify-content: center;
margin-left: 20px;
}
.c-data{display: grid;
    font-family: monospace;
grid-template-columns: 1fr 1fr 2fr;}
.t-a{
text-align:center;
}
.piu{
border-radius: 30px;
background: purple;
width: 100px;
height: 50px;
}
@media screen and (max-width:547px) {
.c-data{
    display: block;
}
.piu{
    width:122px;
    margin:0 auto;
}
img{
    width: 300px;
}
.img{
    
    margin:0 auto;
}
}

@media screen and (max-width:547px) {


  
    
    }