
      /* body */
      
      *{padding:0px;
      margin:0px;}

      body{background :grey;
           color:black;
          Text-align:center;
          text-decoration:none;  
          font-family:monospace;    }
          
          /* Header */
      
      header{border-bottom:3px solid pink ;
          box-shadow:5px 1px 10px black;
          padding:10px;
               }
      header ul li{ display :inline;
                  color:white;}
                  
         header a{ text-decoration :none;
         color: white;
        
         Text-align:center ;}    
          
         
         header h1{
         font-size:50px;
         font-family:cursive;
         color:black;
         font-weight:bold;
         padding: 0px;
         margin-left: 10px;
         }  
         span{font-size:30px;} 
         h2{padding:10px;}         
         .spc{Text-align:center;
         padding:10px;
         border-bottom:2px solid black;}
         /* images */
      
         img{ width:250px;
     height:267px;     
     padding:20px;
     border-radius: 30px;}
         
   button {background: grey;}      
      
  .hidden {
    display: none;
  }
.hamburger {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 25px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
}

